*{
    background-color: #0A1931;
}

.Name-Pic{
    margin-right: auto;
    margin-left: auto;
}

.icon {
    height: 150px;
    width: 150px;
}

h1 {
    color: #FFC947;
}

h2,h3,h4 {
    text-align: center;
    color: #185ADB;
}

p {
    text-align: center ;
    color: #FEDDBE;
}

li {
    text-decoration: none;
    color: #FEDDBE;
}


td,th {
    text-decoration: none;
    color: #FEDDBE;
}
hr {
    width: 5%;
    border-right: none;
    border-left: none;
    border-bottom: none;
    size: 0ch;
    border-top: 4px dotted #FFC947;
}

.Hobbies {
    font-size: large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.COD-link {
    color: #FEDDBE;
    text-decoration: none;
}

.CSGO-link {
    text-decoration: none;
    color: #FEDDBE;
}

.GTA-link {
    color: #FEDDBE;
    text-decoration: none;
}

a {
    color: #FEDDBE;
    text-decoration: none;
}

.AbilitiesTable {
    font-size: large;
    margin-right: auto;
    margin-left: auto;
}

.contactMe-table {
    text-align: center;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
}
